.closebutton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #EC6B5E;
  border-radius: 16px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;}

.window {
    border: solid; 
    width: 750px; 
    justify-content: flex-start; 
    padding: 10px; 
    border-radius: 10px; 
    background: #0A4D8C; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
    flex-direction: column; 
    align-items: center; 
    display:flex;
    }

.windowTitle {
    letter-spacing: 3px; 
    font-family: Blippo, fantasy; 
    margin: 2px 4px 4px 4px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color: rgb(234, 27, 69);
    }

.windowText {
    margin: 4px; 
    color: white;
    }

.selected {
    background: linear-gradient(90deg, rgba(255, 32, 79, 0.5) 0%, rgba(10, 77, 140, 0.2) 100%);
    border-radius: 8px;
    }